    
    <br /><br />
    
    <div id="page-wrapper page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-2">
                  <p id="notice">
                    <%= notice %>
                  </p>

                  <h1 class="page-header bg-warning">Listing Notes</h1>

                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th> Title </th>
                        <th> Text </th>
                        <th> Starred </th>
                        <th colspan="3"></th>
                      </tr>
                    </thead>

                    <tbody>
                      <% @notes.each do |note| %>
                        <tr>
                          <td><%= note.title %></td>
                          <td><%= note.text %></td>
                          <td><%= note.starred %></td>
                          <td><%= link_to 'Show', note %></td>
                          <td><%= link_to 'Edit', edit_note_path(note) %></td>
                          <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>
            </div>    
        </div>
    </div>
</div>