<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#bios_detail">
                <span class="text-primary">
                    Bios 
                </span>
            </a>        
        </h4>
    </div>
                        
    <div id="bios_detail" class="panel-collapse collapse">
        <div class="panel-body">
            <%= form_for @bs, url: {action: "hardware"} do |b| %>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :Description %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :bios_description, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :Make %>
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :bios_manufacturer, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :Serial %>
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :bios_serial, disabled: true %>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :Version %>
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :bios_version, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"SM-Ver" %>
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :bios_smversion, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Asset-Tag" %>
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :bios_asset_tag, disabled: true %>
                        </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>