<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#modem_detail">
                <span class="text-success">
                    Modem
                </span>
            </a>
        </h4>
    </div>
    <div id="modem_detail" class="panel-collapse collapse">
        <div class="panel-body">
        <% @modm.each do |md| %>
            <%= form_for md, url: {action: "hardware"} do |b| %>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Port" %>    
                        <%= b.text_field :port, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Model" %>    
                        <%= b.text_field :model, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Device ID" %>    
                        <%= b.text_field :device_id, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Type" %>    
                        <%= b.text_field :type, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Manufacturer" %>    
                        <%= b.text_field :manufacturer, disabled: true %>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>