<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#mother_detail">
                <span class="text-warning">
                    Mother Board 
                </span>
            </a>        
        </h4>
    </div>
    <div id="mother_detail" class="panel-collapse collapse">
        <div class="panel-body">
            <%= form_for @mthr_brd, url: {action: "hardware"} do |b| %>
                <div class="form-group col-sm-4">
                    <%= label_tag :Manufacturer %>    
                    <%= b.text_field :manufacturer, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :Model %>    
                    <%= b.text_field :model, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :Serial %>    
                    <%= b.text_field :serial, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Processor Slots" %>    
                    <%= b.text_field :processor_slots, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Processor Type" %>    
                    <%= b.text_field :processor_type, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Memory Slots" %>    
                    <%= b.text_field :memory_slots, disabled: true %>
                </div>
            <% end %>
        </div>
    </div>
</div>