<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#network_detail">
                <span class="text-primary">
                    Network Cards
                </span>
            </a>
        </h4>
    </div>
                        
    <div id="network_detail" class="panel-collapse collapse">
        <div class="panel-body">
        <% @ncard.each do |nc| %>
            <%= form_for nc, url: {action: "hardware"} do |b| %>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <%= label_tag :Index %>    
                        <%= b.text_field :net_index, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"MAC Address" %>    
                        <%= b.text_field :net_mac_address, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :Manufacturer %>    
                        <%= b.text_field :net_manufacturer, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :Model %>    
                        <%= b.text_field :net_model, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :Description %>    
                        <%= b.text_field :net_description, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"IP Enabled" %>    
                        <%= b.text_field :net_ip_enabled, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Connection ID" %>    
                        <%= b.text_field :net_connection_id, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Connection Status" %>    
                        <%= b.text_field :net_connection_status, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Speed" %>    
                        <%= b.text_field :net_speed, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Adapter Type" %>    
                        <%= b.text_field :net_adapter_type, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DHCP Enabled" %>    
                        <%= b.text_field :net_dhcp_enabled, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DHCP Server" %>    
                        <%= b.text_field :net_dhcp_server, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DHCP Lease Obtained" %>    
                        <%= b.text_field :net_dhcp_lease_obtained, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DHCP Lease Expires" %>    
                        <%= b.text_field :net_dhcp_lease_expires, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DNS Hostname" %>    
                        <%= b.text_field :net_dns_host_name, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DNS Domain" %>    
                        <%= b.text_field :net_dns_domain, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DNS Domain Reg Enabled" %>    
                        <%= b.text_field :net_dns_domain_reg_enabled, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"DNS Server" %>    
                        <%= b.text_field :net_dns_server, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Wins Primary" %>    
                        <%= b.text_field :net_wins_primary, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Wins Secondary" %>    
                        <%= b.text_field :net_wins_secondary, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Wins LM-Host Enabled" %>    
                        <%= b.text_field :net_wins_lmhosts_enabled, disabled: true %>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>