<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#sound_detail">
                <span class="text-success">
                    Sound Card
                </span>
            </a>
        </h4>
    </div>
    <div id="sound_detail" class="panel-collapse collapse">
        <div class="panel-body">
        <% @scard.each do |sc| %>
            <%= form_for sc, url: {action: "hardware"} do |b| %>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Name" %>    
                        <%= b.text_field :sound_name, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Manufacturer" %>    
                        <%= b.text_field :sound_manufacturer, disabled: true %>
                    </div>
                    <div class="form-group col-sm-4">
                        <%= label_tag :"Device ID" %>    
                        <%= b.text_field :sound_device_id, disabled: true %>
                    </div>
                </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>