<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#windows_detail">
                <span class="text-sucess">
                    Window's 
                </span>
            </a>        
        </h4>
    </div>
                        
    <div id="windows_detail" class="panel-collapse collapse">
        <div class="panel-body">
            <%= form_for @win, url: {action: "index"} do |b| %>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Build Number" %>    
                    <%= b.text_field :windows_build_number, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"User Name" %>    
                    <%= b.text_field :windows_user_name, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Workgroup" %>    
                    <%= b.text_field :windows_workgroup, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Domain Short" %>    
                    <%= b.text_field :windows_domain_short, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Domain Cntrl Add" %>    
                    <%= b.text_field :windows_domain_controller_address, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Domain Cnrtl Name" %>    
                    <%= b.text_field :windows_domain_controller_name, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Domain Role" %>    
                    <%= b.text_field :windows_domain_role, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Part of Domain" %>    
                    <%= b.text_field :windows_part_of_domain, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"ID Number" %>    
                    <%= b.text_field :windows_id_number, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Time Caption" %>    
                    <%= b.text_field :windows_time_caption, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Time Daylight" %>    
                    <%= b.text_field :windows_time_daylight, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Boot Device" %>    
                    <%= b.text_field :windows_boot_device, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Country Code" %>    
                    <%= b.text_field :windows_country_code, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Language" %>    
                    <%= b.text_field :windows_language, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Reg User" %>    
                    <%= b.text_field :windows_registered_user, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Service Pack" %>    
                    <%= b.text_field :windows_service_pack, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Version" %>    
                    <%= b.text_field :windows_version, disabled: true %>
                </div>
                <div class="form-group col-sm-4">
                    <%= label_tag :"Install Directory" %>    
                    <%= b.text_field :windows_install_directory, disabled: true %>
                </div>
            <% end %>
        </div>
    </div>
</div>