<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#windows_detail">
                <span class="text-sucess">
                    Window's 
                </span>
            </a>        
        </h4>
    </div>
                        
    <div id="windows_detail" class="panel-collapse collapse">
        <div class="panel-body">
            <%= form_for @win, url: {action: "index"} do |b| %>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Build-Num" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_build_number, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"User-Name" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_user_name, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Workgroup" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_workgroup, disabled: true %>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Dom-Short" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_domain_short, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Dom-Cntrlr" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_domain_controller_name, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Dom-C-Add" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_domain_controller_address, disabled: true %>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Dom-Role" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_domain_role, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Dom-part" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_part_of_domain, disabled: true %>
                        </div>
                    
                    <div class="col-sm-1">
                        <%= label_tag :"ID-Num" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_id_number, disabled: true %>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Time-Cap" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_time_caption, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"T-Daylight" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_time_daylight, disabled: true %>
                        </div>
                    
                    <div class="col-sm-1">
                        <%= label_tag :"Boot-Dev" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_boot_device, disabled: true %>
                        </div>
                </div>

                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Country" %>
                    </div>
                        <div class="col-sm-3">    
                            <%= b.text_field :windows_country_code, disabled: true %>
                        </div>
                    
                    <div class="col-sm-1">
                        <%= label_tag :"Language" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_language, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Reg-User" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_registered_user, disabled: true %>
                        </div>
                </div>
                    
                <div class="row">
                    <div class="col-sm-1">
                        <%= label_tag :"Serv-Pack" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_service_pack, disabled: true %>
                        </div>

                    <div class="col-sm-1">
                        <%= label_tag :"Version" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_version, disabled: true %>
                        </div>
                    
                    <div class="col-sm-1">
                        <%= label_tag :"Install-Dir" %>    
                    </div>
                        <div class="col-sm-3">
                            <%= b.text_field :windows_install_directory, disabled: true %>
                        </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>