<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#dvc_dis_chart">
                <span class="text-success">Device Discovered</span>
            </a>
        </h4>
    </div>
                        
    <div id="dvc_dis_chart" class="panel-collapse collapse">
        <div class="panel-body">
            <p>
                <span class="text-info">
                        <table class="table table-striped">
                            <thead class="">
                                <tr>
                                    <th>Icon</th>
                                    <th>Type</th>
                                    <th>Hostname</th>
                                    <th>OS</th>
                                    <th>Version</th>
                                    <th>IP Add</th>
                                    <th>MAC Add</th>
                                    <th>Version</th>
                                </tr>
                            </thead>
                            <tbody class="small">
                            <% @sys.each do |sy| %>                                
                                <tr>
                                    <td> --                      </td>
                                    <td><%= sy.form_factor %>    </td>

                                <td><%= link_to sy.hostname, {:controller => "info", :action => "load_data", :hn => sy.hostname, :os =>sy.os_family } %></td>
                                
                                    
                                    <td><%= sy.os_name %>        </td>
                                    <td><%= sy.os_version %>     </td>
                                    <td><%= sy.man_ip_address %> </td>
                                    <td> --                      </td>
                                    <td> --                      </td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>                    
                </span>
            </p>
        </div>
    </div>
</div>
