<div class="row">
    <div class="col-lg-12">
                        
        <%= render 'audit_info/forms/system_form' %>
        <%= render 'audit_info/forms/windows_form' %>
        <%= render 'audit_info/forms/users_form' %>

        <%= render 'audit_info/forms/bios_form' %>
        <%= render 'audit_info/forms/hard_disk_form' %>
        <%= render 'audit_info/forms/memory_form' %>
        <%= render 'audit_info/forms/modem_form' %>
        <%= render 'audit_info/forms/monitor_form' %>
        <%= render 'audit_info/forms/mother_board_form' %>
        <%= render 'audit_info/forms/network_card_form' %>
        <%= render 'audit_info/forms/optical_drive_form' %>
        <%= render 'audit_info/forms/partition_form' %>
        <%= render 'audit_info/forms/processor_form' %>
        <%= render 'audit_info/forms/scsi_controller_form' %>
        <%= render 'audit_info/forms/sound_card_form' %>
        <%= render 'audit_info/forms/video_card_form' %>

        <%= render 'audit_info/forms/software_form' %>
        <%= render 'audit_info/forms/software_key_form' %>
        <%= render 'audit_info/forms/service_form' %>

        <%= render 'audit_info/forms/log_form' %>
        <%= render 'audit_info/forms/shares_form' %>
        <%= render 'audit_info/forms/routes_form' %>
                    
    </div>
</div>