<!DOCTYPE html>
<html lang="en">

<head>
  <title>Dsktp</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"> </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"> </script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <script>
	$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});
  </script>
</head>

<body>

  <div class="container">
    <%= render 'layouts/header2' %>
  </div>

  <p><br /><br /></p>

  <div id="wrapper">
    <div id="sidebar-wrapper" role="navigation">
        <ul class="sidebar-nav">

            <li>
                <%= link_to("Dashboard", audit_info_index_path) %>
            </li>

            <li>
                <%= link_to("Operating System", audit_info_os_path) %>
            </li>    
            
            <li>
              <%= link_to("Discover Device's", audit_info_discovery_path) %>
            </li>    
            
            <li>
                <%= link_to("Add Device", audit_info_add_device_path) %>
            </li>

            <li>
                <%= link_to("System Log", audit_info_system_log_path) %>
            </li>
            
            <li>
                <%= link_to("Notes", notes_path) %>
            </li>

        </ul>
    </div>

    <p><br /><br /></p>
   
    <div id="page-wrapper page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active">
                              <%= link_to("Summary", info_index_path) %>
                            </li>

                            <li>
                              <%= link_to("Hardware", info_hardware_path) %>
                            </li>

                            <li>
                              <%= link_to("Software", info_software_path) %>
                            </li>

                            <li>
                              <%= link_to("Users", info_user_path) %>
                            </li>

                            <li>
                              <%= link_to("Others", info_lgrs_path) %>
                            </li>        
                        </ul>
                    </div>
                </div>
            </div>

          <%= yield %>

        </div>
    </div>
  
  </div>
</body>
</html>